<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--需要使用哪个对象，就用bean声明哪个对象-->  <!--下面这个只是为了创建对象-->
    <bean id="mysqlDao" class="com.sino.dao.impl.UserDaoImpl" />

    <!--声明service对象-->  <!--下面的是给对象的属性进行赋值-->
    <bean id="userservice" class="com.sino.service.impl.UserServiceImpl">
        <!--set注入-->
        <property name="dao" ref="mysqlDao" />
    </bean>
</beans>