<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="testcase">
        <classes>
            <class name="com.testng.Demo1"/>
            <class name="com.testng.Demo2">
                <methods>
                    <exclude name="test1"></exclude>
                </methods>
            </class>
        </classes>

    </test>
</suite>