<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTA Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--指定properties文件的位置，从类路径根开始找文件-->
    <properties resource="jdbc.properties" />

    <!--settings：控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--定义别名-->
    <typeAliases>
        <!--
            第一种方式
            可以指定一个类型一个自定义别名
            type:自定义类型的全限定名称
            alias:别名（短小容易记忆）
        -->
<!--        <typeAlias type="com.sino.domain.Student" alias="stu" />
        <typeAlias type="com.sino.vo.ViewStudent" alias="vstu" />-->

        <!--第二种方式
            <package> name是包名，这个包中的所有类，类名就是别名（类名不区分大小写）
        -->
        <package name="com.sino.domain"/>
        <package name="com.sino.vo"/>
    </typeAliases>

    <!--配置插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!--环境配置：数据库的连接信息
        default：必须和某个environment的id值一样。
        告诉mybatis使用哪个数据库的连接信息。也就是访问哪个数据库
    -->
   <environments default="mydev">
       <!--environment：一个数据库信息的配置，环境
            id：一个唯一值。自定义，表示环境的名称
       -->
       <environment id="mydev">
           <!--transactionManager：mybatis的事务类型。提交事务，回滚事务的方式
                type：JDBC(表示使用jdbc中的Connection对象的commit，rollback做事务处理)
                      MANAGER：把mybatis的事务处理委托给其他的容器（一个服务器软件，一个框架）
           -->
           <transactionManager type="JDBC" />
           <!--
                dataSource：表示数据源，连接数据库的。
                type:表示数据源的类型，POOLED表示使用连接池
           -->
           <dataSource type="POOLED">
               <!--
                    deriver  user username password 是固定的，不能自定义
               -->
               <!--数据库的驱动类名-->
               <property name="driver" value="${jdbc.driver}"/>
               <!--连接数据库的url的字符串-->
               <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
               <!--访问数据库的用户名-->
               <property name="username" value="root"/>
               <!--密码-->
               <property name="password" value="root"/>
           </dataSource>
       </environment>
   </environments>

    <!--
        sql mapper(sql映射文件）的位置)
    -->
    <mappers>
        <!--一个mapper标签指定一个文件的位置
            从类路径开始的路径信息。 target/classes(类路径)
        -->
        <!--第一种方式：指定多个mapper文件-->
   <!--     <mapper resource="com/sino/dao/StudentDao.xml" />
        <mapper resource="com/sino/dao/OrderDao.xml" />-->

        <!--第二种方式：使用包名
            name:xml文件(mapper文件)所在的包名，这个包中所有xml五年级一次都能加载给mybatis
            使用paakage的要求：
                1.mapper文件名称需要和接口名称一样，区分大小写的一样
                2.mapper文件和dao接口需要在同一目录
         -->
        <package name="com.sino.dao" />
    </mappers>
</configuration>
<!--
    mybatis的主配置文件：主要定义了数据库饿配置信息SQL映射文件的位置
    1.约束文件
        <!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTA Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        mybatis-3-config.dtd：约束文件的名称
     2.configuration 根标签

-->