<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--student模块所有bean的声明-->
    <!--使用name属性实现set注入-->    <!--byType-->
    <bean id="myStudent" class="com.sino.service.ba06.Student" autowire="byType">  <!--这里自动注入。Student类中的school成员名称和上面School的类型需要一样。-->
        <!--<property name="school" ref="myschool"/>-->
        <property name="name" value="张三" />
        <property name="age" value="12" />
    </bean>

</beans>